<div class="box box-primary">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-12 display-content">
        <div class="col-md-6 input-group mb-3">
          <input type="text" class="form-control" name="filter" (keyup.enter)="loadBooks()" [(ngModel)]="filter"
            placeholder="Enter book's name">
          <i *ngIf="filter" (click)="clearFilter()" class="fa fa-close"></i>
          <div class="input-group-prepend">
            <button class="btn btn-info" type="button" (click)="loadBooks()" title="Search">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 mb-3 align-self-center">
          <ng-select [items]="authorList"
                    bindLabel="text"
                    bindValue="id"
                    [(ngModel)]="idAuthor"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [searchable]="true"
                    [placeholder]="'Select author'"
                    [ngModelOptions]="{standalone: true}"
                    (change)="SelectAuthor(idAuthor, 1)">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <input type="checkbox" [checked]='isCheckedAll()' (click)="checkedAll($event)" />
          </th>
          <th>Book's Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listBooks" (click)="ClickRowBook(item)">
          <td class="table-checkbox">
            <label class="container-radio">
              <input type="checkbox" name="radioauthor" [checked]="item.Checked">
              <span class="checkmark"></span>
            </label>
          </td>
          <td>
            <div>
              {{item.title}}
            </div>
          </td>
        </tr>
        <tr *ngIf="listBooks?.length == 0">
          <td colspan="100%">
            No record found!
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->

  <div class="box-footer no-padding">
    <div class="col-md-12 footer-phantrang">
      <div class="flex-between">
        <div class="text-left">
          <div *ngIf="listBooks?.length > 0" class="page">
            <pagination *ngIf="listBooks != undefined" [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
            [totalItems]="totalRows" [maxSize]="maxSize" [(ngModel)]="pageIndex" class="pagination-sm"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
          </div>
        </div>
        <div class="text-right custom-spacing">
          <button title="Add"
            class="btn btn-success btn-sm" (click)="showAdd()">
            <i class="fa fa-plus"></i> <span class="responsive-hiden"></span>
          </button>
          <button title="Edit" [disabled]="flagEdit"
            class="btn btn-primary btn-sm" (click)="showEdit()">
            <i class="fa fa-edit"></i> <span class="responsive-hiden"></span>
          </button>
          <button title="Delete" [disabled]="flagDelete"
            class="btn btn-danger btn-sm" (click)="deleteBook()">
            <i class="fa fa-trash"></i> <span class="responsive-hiden"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-footer -->
</div>

<app-modal-books *ngIf="viewModal" (CloseModal)="CloseModal()" (SaveSuccess)="SaveSuccess($event)"></app-modal-books>

<!-- Simple syntax -->
<div [ngBusy]="busy"></div>
