<div class="row" style=" margin-right: 0px;">
  <div class="col-md-6" style="padding-right: 0;">
    <tabset #staticTabs>
      <tab heading="Authors">
        <app-authors (SaveAuthor)="GetSaveAuthor($event)"></app-authors>
      </tab>
    </tabset>
  </div>
  <!-- <div class="col-md-4">
    <tabset #staticTabs>
      <tab heading="Author's book">
        <app-booksauthors></app-booksauthors>
      </tab>
    </tabset>
  </div> -->
  <div class="col-md-6">
    <tabset #staticTabs>
      <tab heading="Books">
        <app-books [isAuthorChange]="getSaveAuthor"></app-books>
      </tab>
    </tabset>
  </div>
</div>
