<div class="p-2">
  <h2>Learn Rxjs</h2>
  <div class="mb-2">
    <button class="btn btn-primary mr-2" (click)="onIncrement()">
      Increase
    </button>
    <button class="btn btn-secondary" (click)="onDecrement()">
      Decrease
    </button>
  </div>
  <div>
    {{count}}
  </div>
</div>
