<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block" (click)="ClickHeaderMenu('Home')">
      <a routerLink="/main/home" routerLinkActive="active bg-grey" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block" (click)="ClickHeaderMenu('Book Manager')">
      <a routerLink="/main/myapi/bookmanager" routerLinkActive="active bg-grey" class="nav-link">Book Manager</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block" (click)="ClickHeaderMenu('NgRx Store')">
      <a routerLink="/main/ngrx" routerLinkActive="active bg-grey" class="nav-link">Ngrx Store</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block" (click)="ClickHeaderMenu('Learn Rxjs')">
      <a routerLink="/main/learnrxjs" routerLinkActive="active bg-grey" class="nav-link">Learn Rxjs</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block" (click)="ClickHeaderMenu('System')">
      <a routerLink="/main/system" routerLinkActive="active bg-grey" class="nav-link">System</a>
    </li>
    <!-- <li>
      <p>"C:\Program Files\Google\Chrome\Application\chrome.exe" --disable-web-security --disable-gpu --user-data-dir=~/chromeTemp</p>
    </li> -->
  </ul>
</nav>
<!-- /.navbar -->
