label.custom-checkbox input[type="checkbox"] {
    display: none;
}

label.custom-checkbox input[type="checkbox"]~.helping-el {
    background-color: #FFFFFF;
    border: 1px solid #009688;
    border-radius: 2px;
    display: inline-block;
    padding: 7px;
    position: relative;
    top: 2px;
}

label.custom-checkbox input[type="checkbox"]:checked~.helping-el {
    border: 1px solid #009688;
    background-color: #009688;
}

label.custom-checkbox input[type="checkbox"]:checked~.helping-el:after {
    color: #FFFFFF;
    content: "\2714";
    font-size: 16px;
    font-weight: normal;
    left: 1px;
    position: absolute;
    top: -4px;
    transform: rotate(10deg);
}

label.custom-checkbox {
    margin: 0px;
}

.container-radio {
    display: block;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 5px;
    height: 16px;
    width: 16px;
    background: #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #499788;
    margin-top: 2px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}