body {
  font-family: Arial, Helvetica, sans-serif;
}

.page-a4 {
  width: 21cm;
  height: auto;
  padding: 2cm;
  font-size: 12px;
  margin: 0cm auto;
  border: 1px #D3D3D3 solid;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page-a5 {
  width: 14.9cm;
  height: auto;
  padding: 1cm;
  margin: 0cm auto;
  font-size: 10px;
  border: 1px #D3D3D3 solid;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.bill-80 {
  width: 7.2cm;
  height: auto;
  padding: 0.2cm;
  margin: 0cm auto;
  font-size: 8px;
  border: 1px #D3D3D3 solid;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page-a4 table {
  font-size: 12px;
}

.page-a5 table {
  font-size: 10px;
}

.bill-80 table {
  font-size: 8px;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page-a4, .page-a5, .bill-80 {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  .page-a4 .table-detail, .page-a4 .diadiem-detail {
    -webkit-print-color-adjust: exact;
  }
}

.bill-80 .logo {
  height: 40px;
  text-align: center;
}

.bill-80 .logo img {
  height: 40px;
}

.bill-80 .thong-tin {
  width: 100%;
}

.khach-hang>p>span {
  float: right;
}

.page-a4 .logo, .page-a5 .logo {
  float: left;
  width: 20%;
  position: relative;
  padding-top: 5px;
  max-height: 120px;
}

.page-a4 .logo img, .page-a5 .logo img {
  width: 100%;
}

.row {
  clear: left;
}

.page-a4 .thong-tin, .page-a5 .thong-tin {
  float: left;
  width: 80%;
  position: relative;
}

.page-a4 .thong-tin p, .page-a5 .thong-tin p {
  padding-left: 10px;
}

.ten-khach-san {
  text-align: center;
  padding: 5px 0px;
  margin: 0px;
}

.dia-chi-khach-san {
  padding: 2px 0px;
  margin: 0px;
}

.tieu-de {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.khach-hang p {
  padding: 2px 0px;
  margin: 0px;
}

.phong {
  padding: 2px 0px;
}

.phong>table {
  border-collapse: collapse;
  width: 100%;
}

.phong>table>tbody>tr>td, .phong>table>tbody>tr>th {
  border: 1px solid #b7b6b6;
  padding: 1px 5px;
}

.phong .so-thu-tu {
  text-align: center;
  width: 40px;
}

.page-a4 .phong .column-don-gia {
  text-align: right;
  width: 100px;
}

.page-a5 .phong .column-don-gia {
  width: 60px;
  text-align: right;
}

.bill-80 .column-don-gia {
  width: 50px;
  text-align: right;
}

.column-ngay {
  text-align: center;
}

.column-so-nguoi {
  text-align: right;
}

.page-a5 .column-so-luong {
  width: 50px;
  text-align: right;
}

.page-a4 .column-so-luong {
  width: 80px;
  text-align: right;
}

.bill-80 .column-so-luong {
  width: 40px;
  text-align: right;
}

.row-parent {
  font-weight: bold;
}

.tong-tien {
  font-weight: bold;
}

.row>p {
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}

.left {
  float: left;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 30px;
}

.right {
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
  margin-right: 30px;
  float: right;
}

.cuoi-trang {
  height: 100px;
}

@media print {
  .number-align {
    text-align: right;
    /* width: 7vh; */
  }
  #bieudotest {
    padding: 10px;
  }
  .table-detail {
    width: 100%;
  }
  .page-a4 table {
    width: 100%;
  }
  .page-a4 table tbody>tr>td.table-ten {
    width: 9vh !important;
  }
  /* .page-a4 table tbody */
  .page-a4 table, td, th {
    border-collapse: collapse;
    border: 1px solid rgba(49, 47, 47, 0.198);
  }
  .page-a4 #bieudotest {
    margin: 20px;
  }
  .page-a4>.chart {
    padding: 0;
    float: right;
    width: 875px;
  }
  .page-a4 .table-detail .vatlieu-color {
    width: 5px;
    padding: 5px;
  }
  .page-a4 .diadiem-detail {
    margin-top: 20px;
  }
  .page-a4 .diadiem-detail .diadiem {
    margin: 5px;
  }
  .page-a4 .diadiem-detail .diadiem-info {
    margin-left: 10px;
  }
  .page-a4 .diadiem-detail .diadiem-color {
    padding-left: 15px;
    margin: 5px;
  }
  .page-a4 .table-detail .color-wrapper {
    width: 10px !important;
  }
  /* .page-a4 .table-detail .color-wrapper-quy {
    width: 8px;
  } */
  /* .page-a4 table tbody>tr>td.table-ten-quy {
    width: 7vh;
  } */
  /* .page-a4 .table-detail .table-data-quy {
    width: 15vw;
  } */
  /* .page-a4 .table-detail .color-wrapper-nam {
    width: 8px;
    padding: 0;
  } */
  /* .page-a4 .table-detail .vatlieu-color-nam {
    width: 8px;
    padding: 10px;
  } */
  /* .page-a4 table tbody>tr>td.table-ten-nam {
    width: 7vh;
  } */
  /* .page-a4 .table-detail .table-data-nam {
    width: 30vw;
  } */
  .page-a4 .kieubanggia {
    font-size: 15px;
    padding: 20px;
    padding-left: 30px;
  }
}
