<!-- Modal them va sua -->
<div ngDraggable [handle]="myHandle" bsModal #modalAddEdit="bs-modal" class="modal fade modal-mg-top-80" tabindex="-1"
  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static'}" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Author Information</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm, false)"
          *ngIf="entityAuthors">
          <div class="box-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Author Name
                <span class="error">*</span>
              </label>
              <div class="col-md-9 name-input">
                <input type="text" [(ngModel)]="entityAuthors.fullName" required maxlength="255" name="Name"
                  class="form-control" placeholder="Enter Name" focus [readonly]="flagXem" />
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="flagAdd" type="submit" class="btn btn-success btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Save and Close</button>
            <button *ngIf="flagAdd  && !entityAuthors.id" type="button" class="btn btn-success btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave" (click) = "saveChange(addEditForm, true)">
              <i class="fa fa-save"></i> Save and Add</button>
            <button *ngIf="flagEdit" type="submit" class="btn btn-success btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Save changes</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Cancel</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Simple syntax -->
<div [ngBusy]="busy"></div>
