@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-grey {
  background: grey;
}

.table-checkbox {
  width: 30px;
}

.btn {
  margin-right: 3px;
}

.box {
  height: calc(100vh - 180px);
  padding: 5px;
}

.box-header {
  padding-bottom: 5px;
}

.box-body {
  height: calc(100vh - 264px);
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.align-self-center {
  align-self: center;
}

.modal-content {
  min-width: 800px;
}

.ajs-button.ajs-cancel {
  background: #cb8282;
}

.ajs-button.ajs-ok {
  background: #88d988;
}

.form-group {
  display: flex;
}

.error {
  color: red;
}

.footer-phantrang {
  padding: 5px;
  padding-top: 0px;
}

.footer-phantrang .pagination {
  margin: 0px;
  padding-right: 5px;
}

.col-pagination {
  transform: translateY(5px);
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.display-content {
  display: contents;
}

.align-self-center {
  align-self: center;
}


/* You can add global styles to this file, and also import other style files */

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border-color: #eae3e3;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border-color: #eae3e3;
}

table>thead>tr>th {
  background-color: #eee !important;
}

table>tbody>tr.active>td {
  background-color: #f6fdff !important;
}

table.table_scroll thead tr {
  display: inline-table;
  table-layout: fixed;
  width: calc(100% - 8px);
}

table.table_scroll tbody {
  height: calc(100vh - 224px);
  position: absolute;
  overflow-y: auto;
  /* overflow-x: hidden; */
  width: calc(100% - 4px);
}

table.table_scroll tbody tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

.main-header .logo {
  font-size: 14px;
}

.content {
  padding: 0px;
}

.skin-blue .main-header .logo {
  background-color: #209a6a;
}

.skin-blue .main-header .navbar {
  background-color: #207956;
}

.content-wrapper {
  background-color: #FFF;
}

.tx-24 {
  font-size: 24px;
}

.tx-20 {
  font-size: 20px;
}

.tx-22 {
  font-size: 22px;
}

.valign-middle {
  vertical-align: middle;
}

.lh-0 {
  line-height: 0;
}

.pd-l-5 {
  padding-left: 5px;
}

.mg-t-20 {
  margin-top: 20px;
}

.mg-l-20 {
  margin-left: 20px;
}

.pd-l-20 {
  padding-left: 20px !important;
}

.mg-b-0 {
  margin-bottom: 0px;
}

table>thead>tr>th {
  text-align: center;
}

.ng-select.ng-select-opened>.ng-select-container {
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9
}

.ng-select.ng-select-opened>.ng-select-container:hover {
  box-shadow: none
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow:hover {
  border-color: transparent transparent #333
}

.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.ng-select.ng-select-opened.ng-select-top>.ng-select-container {
  border-top-right-radius: 0;
  border-top-left-radius: 0
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1)
}

.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #f9f9f9
}

.ng-select .ng-has-value .ng-placeholder {
  display: none
}

.ng-select .ng-select-container {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  align-items: center
}

.ng-select .ng-select-container:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06)
}

.ng-select .ng-select-container .ng-value-container {
  align-items: center;
  padding-left: 10px
}

[dir="rtl"] .ng-select .ng-select-container .ng-value-container {
  padding-right: 10px;
  padding-left: 0
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #999
}

.ng-select.ng-select-single .ng-select-container {
  height: 36px
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 5px;
  left: 0;
  padding-left: 10px;
  padding-right: 50px
}

[dir="rtl"] .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-right: 10px;
  padding-left: 50px
}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6
}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value .ng-value-label {
  padding: 0 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-top: 5px;
  padding-left: 7px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-right: 7px;
  padding-left: 0
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: .9em;
  margin-bottom: 5px;
  background-color: #ebf5ff;
  border-radius: 2px;
  margin-right: 5px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-right: 0;
  margin-left: 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled {
  background-color: #f9f9f9
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
  padding-left: 5px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
  padding-left: 0;
  padding-right: 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  display: inline-block;
  padding: 1px 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: inline-block;
  padding: 1px 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  background-color: #d1e8ff
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-right: 1px solid #b8dbff
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-left: 1px solid #b8dbff;
  border-right: none
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
  border-left: 1px solid #b8dbff
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
  border-left: 0;
  border-right: 1px solid #b8dbff
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
  padding: 0 0 3px 3px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
  padding: 0 3px 3px 0
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 5px;
  padding-bottom: 5px;
  padding-left: 3px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  padding-right: 3px;
  padding-left: 0
}

.ng-select .ng-clear-wrapper {
  color: #999
}

.ng-select .ng-clear-wrapper:hover .ng-clear {
  color: #D0021B
}

.ng-select .ng-spinner-zone {
  padding: 5px 5px 0 0
}

[dir="rtl"] .ng-select .ng-spinner-zone {
  padding: 5px 0 0 5px
}

.ng-select .ng-arrow-wrapper {
  width: 25px;
  padding-right: 5px
}

[dir="rtl"] .ng-select .ng-arrow-wrapper {
  padding-left: 5px;
  padding-right: 0
}

.ng-select .ng-arrow-wrapper:hover .ng-arrow {
  border-top-color: #666
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px
}

.ng-dropdown-panel {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  left: 0
}

.ng-dropdown-panel.ng-select-bottom {
  top: 100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-color: #e6e6e6;
  margin-top: -1px
}

.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.ng-dropdown-panel.ng-select-top {
  bottom: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-color: #e6e6e6;
  margin-bottom: -1px
}

.ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px
}

.ng-dropdown-panel .ng-dropdown-header {
  border-bottom: 1px solid #ccc;
  padding: 5px 7px
}

.ng-dropdown-panel .ng-dropdown-footer {
  border-top: 1px solid #ccc;
  padding: 5px 7px
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  user-select: none;
  padding: 8px 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
  cursor: default
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
  background-color: #f5faff
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
  background-color: #ebf5ff;
  font-weight: 600
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 10px
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: #333;
  background-color: #ebf5ff
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
  font-weight: 600
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #f5faff;
  color: #333
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
  color: #ccc
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
  padding-left: 22px
}

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
  padding-right: 22px;
  padding-left: 0
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
  font-size: 80%;
  font-weight: 400;
  padding-right: 5px
}

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
  padding-left: 5px;
  padding-right: 0
}

[dir="rtl"] .ng-dropdown-panel {
  direction: rtl;
  text-align: right
}

tr.bold td {
  font-weight: 600;
}

tr.italic td {
  font-style: italic;
}

.modal-backdrop {
  z-index: 1;
}

.modal-backdrop {
  /* bug fix - no overlay */
  /* display: none; */
}

.btn {
  outline: none !important;
}

.input-group-btn {
  background-color: #374850;
}

.btn:hover {}

.btn:focus {}

.btn:disabled {}

.btn.btn_search {}

/* title */

.page_title {
  font-weight: bold;
  color: #333;
  font-size: 24px;
  margin: 0;
}

.box_header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #d2d6de;
  border-bottom: none;
}

/* input */

.form-control {
  border-radius: 4px;
}

/* button */

button.btn {
  max-height: 40px;
}

.box_footer {
  position: fixed;
  bottom: 15px;
  width: 100%;
}

.box_footer .box_crud {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.box_footer .pagination {
  margin: 0;
}

.box_crud button:not(:last-child) {
  margin-right: 2px;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important
}

.flex-row {
  -ms-flex-direction: row!important;
  flex-direction: row!important
}

.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse!important;
  flex-direction: row-reverse!important
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse!important;
  flex-direction: column-reverse!important
}

.flex-wrap {
  -ms-flex-wrap: wrap!important;
  flex-wrap: wrap!important
}

.flex-nowrap {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse!important;
  flex-wrap: wrap-reverse!important
}

.flex-fill {
  -ms-flex: 1 1 auto!important;
  flex: 1 1 auto!important
}

.flex-grow-0 {
  -ms-flex-positive: 0!important;
  flex-grow: 0!important
}

.flex-grow-1 {
  -ms-flex-positive: 1!important;
  flex-grow: 1!important
}

.flex-shrink-0 {
  -ms-flex-negative: 0!important;
  flex-shrink: 0!important
}

.flex-shrink-1 {
  -ms-flex-negative: 1!important;
  flex-shrink: 1!important
}

.justify-content-start {
  -ms-flex-pack: start!important;
  justify-content: flex-start!important
}

.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end!important
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important
}

.justify-content-around {
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important
}

.align-items-start {
  -ms-flex-align: start!important;
  align-items: flex-start!important
}

.align-items-end {
  -ms-flex-align: end!important;
  align-items: flex-end!important
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important
}

.align-items-baseline {
  -ms-flex-align: baseline!important;
  align-items: baseline!important
}

.align-items-stretch {
  -ms-flex-align: stretch!important;
  align-items: stretch!important
}

.align-content-start {
  -ms-flex-line-pack: start!important;
  align-content: flex-start!important
}

.align-content-end {
  -ms-flex-line-pack: end!important;
  align-content: flex-end!important
}

.align-content-center {
  -ms-flex-line-pack: center!important;
  align-content: center!important
}

.align-content-between {
  -ms-flex-line-pack: justify!important;
  align-content: space-between!important
}

.align-content-around {
  -ms-flex-line-pack: distribute!important;
  align-content: space-around!important
}

.align-content-stretch {
  -ms-flex-line-pack: stretch!important;
  align-content: stretch!important
}

.align-self-auto {
  -ms-flex-item-align: auto!important;
  align-self: auto!important
}

.align-self-start {
  -ms-flex-item-align: start!important;
  align-self: flex-start!important
}

.align-self-end {
  -ms-flex-item-align: end!important;
  align-self: flex-end!important
}

.align-self-center {
  -ms-flex-item-align: center!important;
  align-self: center!important
}

.align-self-baseline {
  -ms-flex-item-align: baseline!important;
  align-self: baseline!important
}

.align-self-stretch {
  -ms-flex-item-align: stretch!important;
  align-self: stretch!important
}

.w-25 {
  width: 25%!important
}

.w-50 {
  width: 50%!important
}

.w-75 {
  width: 75%!important
}

.w-100 {
  width: 100%!important
}

.w-auto {
  width: auto!important
}

.h-25 {
  height: 25%!important
}

.h-50 {
  height: 50%!important
}

.h-75 {
  height: 75%!important
}

.h-100 {
  height: 100%!important
}

.h-auto {
  height: auto!important
}

.mw-100 {
  max-width: 100%!important
}

.mh-100 {
  max-height: 100%!important
}

.min-vw-100 {
  min-width: 100vw!important
}

.min-vh-100 {
  min-height: 100vh!important
}

.vw-100 {
  width: 100vw!important
}

.vh-100 {
  height: 100vh!important
}

.m-0 {
  margin: 0!important
}

.mt-0, .my-0 {
  margin-top: 0!important
}

.mr-0, .mx-0 {
  margin-right: 0!important
}

.mb-0, .my-0 {
  margin-bottom: 0!important
}

.ml-0, .mx-0 {
  margin-left: 0!important
}

.m-1 {
  margin: .25rem!important
}

.mt-1, .my-1 {
  margin-top: .25rem!important
}

.mr-1, .mx-1 {
  margin-right: .25rem!important
}

.mb-1, .my-1 {
  margin-bottom: .25rem!important
}

.ml-1, .mx-1 {
  margin-left: .25rem!important
}

.m-2 {
  margin: .5rem!important
}

.mt-2, .my-2 {
  margin-top: .5rem!important
}

.mr-2, .mx-2 {
  margin-right: .5rem!important
}

.mb-2, .my-2 {
  margin-bottom: .5rem!important
}

.ml-2, .mx-2 {
  margin-left: .5rem!important
}

.m-3 {
  margin: 1rem!important
}

.mt-3, .my-3 {
  margin-top: 1rem!important
}

.mr-3, .mx-3 {
  margin-right: 1rem!important
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important
}

.ml-3, .mx-3 {
  margin-left: 1rem!important
}

.m-4 {
  margin: 1.5rem!important
}

.mt-4, .my-4 {
  margin-top: 1.5rem!important
}

.mr-4, .mx-4 {
  margin-right: 1.5rem!important
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important
}

.ml-4, .mx-4 {
  margin-left: 1.5rem!important
}

.m-5 {
  margin: 3rem!important
}

.mt-5, .my-5 {
  margin-top: 3rem!important
}

.mr-5, .mx-5 {
  margin-right: 3rem!important
}

.mb-5, .my-5 {
  margin-bottom: 3rem!important
}

.ml-5, .mx-5 {
  margin-left: 3rem!important
}

.p-0 {
  padding: 0!important
}

.pt-0, .py-0 {
  padding-top: 0!important
}

.pr-0, .px-0 {
  padding-right: 0!important
}

.pb-0, .py-0 {
  padding-bottom: 0!important
}

.pl-0, .px-0 {
  padding-left: 0!important
}

.p-1 {
  padding: .25rem!important
}

.pt-1, .py-1 {
  padding-top: .25rem!important
}

.pr-1, .px-1 {
  padding-right: .25rem!important
}

.pb-1, .py-1 {
  padding-bottom: .25rem!important
}

.pl-1, .px-1 {
  padding-left: .25rem!important
}

.p-2 {
  padding: .5rem!important
}

.pt-2, .py-2 {
  padding-top: .5rem!important
}

.pr-2, .px-2 {
  padding-right: .5rem!important
}

.pb-2, .py-2 {
  padding-bottom: .5rem!important
}

.pl-2, .px-2 {
  padding-left: .5rem!important
}

.p-3 {
  padding: 1rem!important
}

.pt-3, .py-3 {
  padding-top: 1rem!important
}

.pr-3, .px-3 {
  padding-right: 1rem!important
}

.pb-3, .py-3 {
  padding-bottom: 1rem!important
}

.pl-3, .px-3 {
  padding-left: 1rem!important
}

.p-4 {
  padding: 1.5rem!important
}

.pt-4, .py-4 {
  padding-top: 1.5rem!important
}

.pr-4, .px-4 {
  padding-right: 1.5rem!important
}

.pb-4, .py-4 {
  padding-bottom: 1.5rem!important
}

.pl-4, .px-4 {
  padding-left: 1.5rem!important
}

.p-5 {
  padding: 3rem!important
}

.pt-5, .py-5 {
  padding-top: 3rem!important
}

.pr-5, .px-5 {
  padding-right: 3rem!important
}

.pb-5, .py-5 {
  padding-bottom: 3rem!important
}

.pl-5, .px-5 {
  padding-left: 3rem!important
}

.m-n1 {
  margin: -.25rem!important
}

.mt-n1, .my-n1 {
  margin-top: -.25rem!important
}

.mr-n1, .mx-n1 {
  margin-right: -.25rem!important
}

.mb-n1, .my-n1 {
  margin-bottom: -.25rem!important
}

.ml-n1, .mx-n1 {
  margin-left: -.25rem!important
}

.m-n2 {
  margin: -.5rem!important
}

.mt-n2, .my-n2 {
  margin-top: -.5rem!important
}

.mr-n2, .mx-n2 {
  margin-right: -.5rem!important
}

.mb-n2, .my-n2 {
  margin-bottom: -.5rem!important
}

.ml-n2, .mx-n2 {
  margin-left: -.5rem!important
}

.m-n3 {
  margin: -1rem!important
}

.mt-n3, .my-n3 {
  margin-top: -1rem!important
}

.mr-n3, .mx-n3 {
  margin-right: -1rem!important
}

.mb-n3, .my-n3 {
  margin-bottom: -1rem!important
}

.ml-n3, .mx-n3 {
  margin-left: -1rem!important
}

.m-n4 {
  margin: -1.5rem!important
}

.mt-n4, .my-n4 {
  margin-top: -1.5rem!important
}

.mr-n4, .mx-n4 {
  margin-right: -1.5rem!important
}

.mb-n4, .my-n4 {
  margin-bottom: -1.5rem!important
}

.ml-n4, .mx-n4 {
  margin-left: -1.5rem!important
}

.m-n5 {
  margin: -3rem!important
}

.mt-n5, .my-n5 {
  margin-top: -3rem!important
}

.mr-n5, .mx-n5 {
  margin-right: -3rem!important
}

.mb-n5, .my-n5 {
  margin-bottom: -3rem!important
}

.ml-n5, .mx-n5 {
  margin-left: -3rem!important
}

.m-auto {
  margin: auto!important
}

.mt-auto, .my-auto {
  margin-top: auto!important
}

.mr-auto, .mx-auto {
  margin-right: auto!important
}

.mb-auto, .my-auto {
  margin-bottom: auto!important
}

.ml-auto, .mx-auto {
  margin-left: auto!important
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #A9A9A9;
  border: 0px none #ffffff;
  border-radius: 0px;
  /* &:hover{
        background: #A9A9A9;
    }
    &:active{
        background: #A9A9A9;
    } */
}

.bodychitietbaiviet {
  text-align: justify;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
  /* &:hover{
        background: #ffffff;
    }
    &:active{
        background: #ffffff;
    } */
}

::-webkit-scrollbar-corner {
  background: #A9A9A9;
}

.scrollbox {
  overflow: auto !important;
  visibility: hidden !important;
}

.scrollbox .scrollbox_content, .scrollbox:hover, .scrollbox:focus {
  visibility: visible !important;
}

.searchbox {
  /* margin: 10px; */
  min-width: 250px;
  /* border: 1px solid;
  border-radius: 10px;
  outline: none;
  margin-top: inherit; */
}

.selectMo {
  margin-top: 7px;
}

@media screen and (max-width: 576px) {
  table .name {
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden;
  }
  .box_header {
      margin-top: 15px;
      flex-direction: column;
  }
  .page_title {
      font-size: 20px;
      white-space: nowrap;
      padding: 5px;
  }
  .SelectContent {
      margin: 0;
      padding: 0;
  }
  .searchbox {
      min-width: 0;
  }
  .modalKLKT {
      margin-top: 40px;
  }
  .selectMo {
      margin-top: 40px;
  }
}

.modal.fade {
  opacity: initial;
}

body .ng-busy-default-sign {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
}

body .ng-busy-backdrop {
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
}
