<!-- Modal them va sua -->
<div ngDraggable [handle]="myHandle" bsModal #modalAddEdit="bs-modal" class="modal fade modal-mg-top-80" tabindex="-1"
  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static'}" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Book Information</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm, false)"
          *ngIf="entityBooks">
          <div class="box-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Book Title
                <span class="error">*</span>
              </label>
              <div class="col-md-9 name-input">
                <input type="text" [(ngModel)]="entityBooks.title" required maxlength="255" name="Name"
                  class="form-control" placeholder="Enter Book title" focus [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Book Description
              </label>
              <div class="col-md-9 name-input">
                <input type="text" [(ngModel)]="entityBooks.description" name="Description"
                  class="form-control" placeholder="Enter Description" focus [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Rating
              </label>
              <div class="col-md-9">
                <rating [(ngModel)]="entityBooks.rate" [ngModelOptions]="{standalone: true}"
                [max]="max"
                [readonly]="false"
                [titles]="['one','two','three','four']"
                (ngModelChange)="ChangeRating($event)"></rating>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Genre
              </label>
              <div class="col-md-9 name-input">
                <input type="text" [(ngModel)]="entityBooks.genre" name="Genre"
                  class="form-control" placeholder="Enter Genre" focus [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Book Image Url
              </label>
              <div class="col-md-9 name-input">
                <input type="text" [(ngModel)]="entityBooks.coverUrl" name="coverUrl"
                  class="form-control" placeholder="Enter Image Url" focus [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Is read
              </label>
              <div class="col-md-9 name-input">
                <input type="checkbox" [(ngModel)]="entityBooks.isRead" name="isRead" [checked]="entityBooks.isRead"
                   focus [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Authors list
              </label>
              <div class="col-md-9 name-input">
                <input type="text" [(ngModel)]="entityBooks.authorName" name="authorName"
                  class="form-control" placeholder="Author name" focus [readonly]="true" style="margin-bottom: 5px;"/>
                  <ng-select [items]="authorList"
                    bindLabel="text"
                    bindValue="id"
                    [(ngModel)]="selectAuthor"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [searchable]="true"
                    placeholder="Select author"
                    [ngModelOptions]="{standalone: true}"
                    (change)="SelectAuthor()">
                  </ng-select>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="flagAdd" type="submit" class="btn btn-success btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Save and Close</button>
            <button *ngIf="flagAdd  && !entityBooks.Id" type="button" class="btn btn-success btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave" (click) = "saveChange(addEditForm, true)">
              <i class="fa fa-save"></i> Save and Add</button>
            <button *ngIf="flagEdit" type="submit" class="btn btn-success btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Save changes</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Cancel</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Simple syntax -->
<div [ngBusy]="busy"></div>
